.p-button.p-button-primary {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.active-nav-item {
  background: var(--primary-color) !important;
  color: white !important;
}
