<nav class="breadcrumb-bar" aria-label="breadcrumb">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item">
      <a [routerLink]="homeLink">
        <i class="pi pi-home"></i>
      </a>
    </li>
    @for (crumb of breadcrumbs; track crumb.label; let last = $last) {
      <li class="breadcrumb-separator"><i class="pi pi-chevron-right"></i></li>
      <li class="breadcrumb-item" [class.active]="last">
        @if (!last && crumb.routerLink) {
          <a [routerLink]="crumb.routerLink">{{ crumb.label | translate }}</a>
        } @else {
          <span>{{ crumb.label | translate }}</span>
        }
      </li>
    }
  </ol>
</nav>
